body.home,
body.archive {
    article {
        margin-bottom: $spacer * 5;

        .entry-meta {
            font-size: 0.8rem;
            margin-bottom: $spacer;
        }

        .btn {
            display: block;

            @include media-breakpoint-up(md) {
                display: inline-block;
            }
        }
    }
}